.my-posts{
   
}

.add-post {
   box-shadow: $shadow;
	margin-top: 15px;
	display: flex;
	align-items: center;
}
.add-post-field {
	padding: 8px 12px;
	flex: 1 1 100%;
   border-radius: $radius 0 0 $radius;
   outline: none;
   transition: all ease-out $duration;
   &:focus{
      transform: scale(1.02);
   }
}