$blue: #2a5885;
$light-blue: #2a5885a4;
$grey: #888888;
$main-bg: rgb(243, 243, 243);
$white: #fff;
$dark: rgb(37, 37, 37);
$blue-hover: lighten($blue, 7%);
$grey-hover: lighten($main-bg, 7%);

$duration: 0.1s;
$radius: 3px;

$shadow: 1px 1px 5px rgba($grey, 0.4);
$transition: all ease-in 0.2s;