body {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   color: $dark;
   overflow-y: scroll;
}

.container {
   width: 100%;
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 15px;
}

.main-wrapper {
   min-height: 100vh;
   background-color: $main-bg;
}

.main-container {
   display: flex;
}

.btn {
   display: inline-block;
   border-radius: $radius;
   color: $white;
   transition: all ease-in $duration;
   cursor: pointer;

   &--add-form {
      padding: 8px 12px;
      background-color: $blue;
      border-radius: 0 $radius $radius 0;
   }

   &--remove-post {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      opacity: 0.2;

      svg {
         width: 100%;
         height: 100%;
         color: $blue;
      }

      &:hover {
         opacity: 1;
      }
   }

   &--like {
      font-size: 1.1rem;
      position: absolute;
      bottom: 15px;
      right: 15px;
      color: $dark;
      background-color: transparent;
      display: flex;
      align-items: center;

      svg {
         width: 15px;
         height: 15px;
         transition: all ease-in $duration;
      }
   }

   &--status-save {
      padding: 5px 10px;
      background-color: $blue;
   }

   &--login {
      width: 100%;
      display: block;
      padding: 7px 15px;
      background-color: $blue;
   }

   &--logout {
      background-color: $white;
      color: #000;
   }

   &--profile-save {
      margin: 0 auto;
      padding: 5px 10px;
      background-color: $blue;
      max-width: 200px;
   }

   &--status-save,
   &--follow,
   &--unfollow,
   &--add-form,
   &--login,
   &--profile-save {
      &:hover {
         background-color: $blue-hover;
      }

      &:focus {
         text-decoration: underline;
      }
   }

}

.liked {
   color: red;
}

.block {
   background-color: $white;
   border-radius: $radius;
   box-shadow: $shadow;
}

.avatar {
   display: block;
   max-width: 50px;
   height: 50px;
   overflow: hidden;
   border-radius: 50%;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &--sm {
      max-width: 30px;
      height: 30px;
   }
}

.add-form {
   display: flex;
   align-items: center;

   &-field {
      padding: 7px 11px;
      flex: 1 1 100%;
      border-radius: $radius 0 0 $radius;
      outline: none;
      transition: all ease-out $duration;
      border: 1px solid $white;

      &:focus {
         border: 1px solid $blue;
      }
   }
}

.checkbox {

   input:checked+label:after {
      opacity: 1;
   }

   label {
      display: inline-block;
      margin: 10px 0;
      cursor: pointer;
      position: relative;
      padding-left: 25px;

      &:before {
         content: '';
         -webkit-appearance: none;
         background-color: transparent;
         border: 2px solid $blue;
         width: 18px;
         height: 18px;
         border-radius: $radius;
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         cursor: pointer;
      }

      &:after {
         content: '';
         display: block;
         position: absolute;
         opacity: 0;
         top: 1px;
         left: 7px;
         width: 5px;
         height: 12px;
         border: solid $blue;
         border-width: 0 2px 2px 0;
         transform: rotate(45deg);
         transition: $duration all ease-in;
      }
   }
}